extends layout

block content
  h1= title
  p Welcome to #{title}
  p Transport
    case transport 
      when 'xhr'
        label XHR
        script(src='/javascripts/xhr.js')
      when 'json'
        label JSON
        script(src='/javascripts/json.js')
      when 'htmlfile'
        label htmlfile
        script(src='/javascripts/html.js')
      default
        label WebSockets
        script(src='/javascripts/websocket.js')
    each type in ['websocket', 'xhr', 'json', 'htmlfile', 'socketio']
      a(href=type) #{type}
      a  
    script(src='/javascripts/canvas-draw.js')
  p Current ping: 
    span.aa NaN
    input.ping(type='checkbox') 
  canvas(id='canvas',width='800',height='600')
  div.bb Console:
