doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='http://code.jquery.com/jquery-1.9.1.js')
    script(src='/javascripts/canvas-draw.js')
  body(onload='draw();')
    block content
